html {
  min-height: 100%;
  position: relative;
}

th,
td {
  border-right: 1px solid lightgrey;
}

#time {
  border-left: 1px solid lightgrey;
}

#save-button {
  background-color: lightgrey;
}

#time,
#save-button {
  width: 5%;
}

.sticky-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.form-control {
  border: 0;
}
